<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/img/icon.png">
  <link rel="stylesheet" href="/css/styles.css" />
  <script src="/js/app.js"></script>
  <title>Document</title>
</head>

<body>
  <div class="container">
    {{>header}}
    <form id="weather-form">
      <input type="text" name="address" id="address-input" placeholder="Location">
      <button type="submit" id="go">Go!</button>
      <p id="error"></p>
      <p id="message"></p>
    </form>
    {{>footer}}
  </div>
</body>

</html>
