<header>
  <nav class="navigation">
    <a href="/" class="navigation-item">Weather</a>
    <a href="/about" class="navigation-item">About</a>
    <a href="/help" class="navigation-item">Help</a>
  </nav>
  <h1>{{title}}</h1>
</header>
